.homepage-child {

  top: 80px;
  left: 0px;
  width: 1280px;
  height: 568px;
  object-fit: cover;
}

.link-spares {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 18.4px;
}
.link-blog {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 18.4px;
  cursor: pointer;
}
.div-3g2ie {
  border-radius: 2.25px;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  padding: 10.25px 15.089996337890625px 11.639999389648438px 15.75px;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 15px;
}
.link-spares-parent {
  position: absolute;
  top: 113.05px;
  left: 948px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.whatsapp-image-2023-05-26-at-1 {
  position: relative;
  border-radius: 47px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.whatsapp-image-2023-05-26-at-1-wrapper {
  position: absolute;
  top: 95px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.heading-2 {
  position: relative;
  letter-spacing: 0.18px;
  display: flex;
  align-items: center;
  width: 398px;
  height: 36px;
  flex-shrink: 0;
}
.get-hassle-free-and {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.15px;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-100);
  display: flex;
  align-items: center;
  width: 813px;
  height: 64px;
  flex-shrink: 0;
}
.heading-2-car-services-avail-parent {
  position: absolute;
  top: 765px;
  left: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
.heading-21 {
  position: relative;
  letter-spacing: 0.18px;
  display: flex;
  align-items: center;
  width: 332px;
  height: 49px;
  flex-shrink: 0;
}
.rectangle-div {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-4xs-5);
  background-color: var(--color-white);
  width: 768px;
  height: 258.27px;
}
.rectangle-group {
  position: relative;
  width: 768px;
  height: 258.27px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-2-car-services-avail-group {
  position: absolute;
  top: 2379px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
.heading-22 {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 0.18px;
  display: flex;
  align-items: center;
  width: 282px;
  height: 49px;
}
.heading-23 {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 0.18px;
  display: flex;
  align-items: center;
  width: 189px;
  height: 49px;
}
.heading-24 {
  position: absolute;
  top: 0px;
  left: 324px;
  letter-spacing: 0.18px;
  display: flex;
  align-items: center;
  width: 164px;
  height: 49px;
}
.group-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 488px;
  height: 49px;
}
.heading-25 {
  position: relative;
  letter-spacing: 0.18px;
  display: flex;
  align-items: center;
  width: 189px;
  height: 49px;
  flex-shrink: 0;
}
.heading-26 {
  position: relative;
  letter-spacing: 0.18px;
  display: flex;
  align-items: center;
  width: 188px;
  height: 49px;
  flex-shrink: 0;
}
.heading-2-car-services-avail-parent1 {
  position: absolute;
  top: 251px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 135px;
}
.group-parent {
  position: absolute;
  top: 271px;
  left: 76px;
  width: 512px;
  height: 300px;
}
.heading-2-car-services-avail-container {
  position: absolute;
  top: 2763px;
  left: 24px;
  width: 588px;
  height: 571px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
.experience-the-best {
  position: absolute;
  top: 231px;
  left: 28px;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.11px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
}
.homepage-item {
  position: absolute;
  top: 895px;
  left: 24px;
  border-radius: var(--br-xl);
  background-color: #eee;
  width: 816px;
  height: 513px;
}
.b1a6d933-cb2c-4a34-b9f8-efeb99-icon {
  position: relative;
  width: 15px;
  height: 9.55px;
  object-fit: cover;
}
.hyderabad-parent {
  position: absolute;
  top: 126px;
  left: 351px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mini);
  cursor: pointer;
  color: var(--color-white);
}
.we-provide-our {
  position: absolute;
  top: 295px;
  left: 26px;
  letter-spacing: 0.17px;
  line-height: 18.4px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 661px;
}
.car-service {
  position: absolute;
  top: 126px;
  left: 124px;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.17px;
  line-height: 18.4px;
  font-family: var(--font-alumni-sans-inline-one);
  color: var(--color-white);
}
.group-child {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99.82px;
  height: 51.22px;
  object-fit: cover;
}
.batteries {
  position: absolute;
  top: 71.22px;
  left: 9.41px;
  letter-spacing: 0.22px;
  font-weight: 600;
}
.group-parent1 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 99.82px;
  height: 93.22px;
  cursor: pointer;
}
.image-70-icon {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 49px;
  height: 49px;
  object-fit: cover;
}
.group-container {
  position: absolute;
  top: 918px;
  left: 280px;
  width: 120.82px;
  height: 93.22px;
}
.group-item {
  position: absolute;
  top: 0px;
  left: 38.59px;
  width: 99.82px;
  height: 51.22px;
  object-fit: cover;
}
.ac-service {
  position: absolute;
  top: 71.22px;
  left: 0px;
  letter-spacing: 0.22px;
  font-weight: 600;
}
.group-parent3 {
  position: absolute;
  top: 16px;
  left: 0px;
  width: 177px;
  height: 93.22px;
  cursor: pointer;
}
.image-69-icon {
  position: absolute;
  top: 0px;
  left: 64px;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.group-parent2 {
  position: absolute;
  top: 902px;
  left: 464px;
  width: 177px;
  height: 109.22px;
}
.insurance {
  position: absolute;
  top: 71.22px;
  left: 5.91px;
  letter-spacing: 0.22px;
  font-weight: 600;
}
.group-parent5 {
  position: absolute;
  top: 0px;
  left: 14.91px;
  width: 99.82px;
  height: 93.22px;
}
.image-73-icon {
  position: absolute;
  top: 0.56px;
  left: 0px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.group-parent4 {
  position: absolute;
  top: 1074.44px;
  left: 675px;
  width: 114.72px;
  height: 93.22px;
  cursor: pointer;
  text-align: center;
}
.group-child1 {
  position: absolute;
  top: 0px;
  left: 32.59px;
  width: 99.82px;
  height: 51.22px;
  object-fit: cover;
}
.group-parent7 {
  position: absolute;
  top: 36.45px;
  left: 0px;
  width: 165px;
  height: 93.22px;
  cursor: pointer;
}
.image-72-icon {
  position: absolute;
  top: 0px;
  left: 85.16px;
  width: 60.48px;
  height: 60.48px;
  object-fit: cover;
}
.image-74-icon {
  position: absolute;
  top: 7.25px;
  left: 12.03px;
  width: 49.95px;
  height: 49.95px;
  object-fit: cover;
}
.group-parent6 {
  position: absolute;
  top: 1232.77px;
  left: 43px;
  width: 165px;
  height: 129.67px;
}
.car-spa {
  margin: 0;
}
.car-spa-container {
  position: absolute;
  top: 71.22px;
  left: 5.41px;
  letter-spacing: 0.22px;
  font-weight: 600;
}
.group-parent9 {
  position: absolute;
  top: 25.27px;
  left: 14px;
  width: 99.82px;
  height: 115.22px;
  cursor: pointer;
}
.image-75-icon {
  position: absolute;
  top: 0px;
  left: 67.95px;
  width: 54.1px;
  height: 54.1px;
  object-fit: cover;
}
.image-76-icon {
  position: absolute;
  top: 9.05px;
  left: 0px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.group-parent8 {
  position: absolute;
  top: 1045.95px;
  left: 280px;
  width: 122.05px;
  height: 140.49px;
}
.image-77-icon {
  position: absolute;
  top: 1061px;
  left: 756px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.car-inspection-txt-container {
  line-break: anywhere;
  width: 100%;
}
.car-inspection {
  position: absolute;
  top: 71.22px;
  left: 2.91px;
  letter-spacing: 0.22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 94px;
  height: 31px;
}
.group-parent11 {
  position: absolute;
  top: 8.22px;
  left: 28.91px;
  width: 99.82px;
  height: 102.22px;
  cursor: pointer;
}
.image-78-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 54px;
  height: 54px;
  object-fit: cover;
}
.group-parent10 {
  position: absolute;
  top: 1251px;
  left: 661px;
  width: 128.72px;
  height: 110.44px;
  text-align: center;
}
.group-child4 {
  position: absolute;
  top: 0px;
  left: 11.59px;
  width: 99.82px;
  height: 51.22px;
  object-fit: cover;
}
.group-parent13 {
  position: absolute;
  top: 0.44px;
  left: 0px;
  width: 123px;
  height: 115.22px;
}
.image-79-icon {
  position: absolute;
  top: 0px;
  left: 11px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.image-80-icon {
  position: absolute;
  top: 6px;
  left: 72px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.group-parent12 {
  position: absolute;
  top: 1082px;
  left: 64px;
  width: 123px;
  height: 115.66px;
  cursor: pointer;
  text-align: center;
}
.image-81-icon {
  position: absolute;
  top: 1255px;
  left: 353px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image-82-icon {
  position: absolute;
  top: 1265px;
  left: 310px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image-84-icon {
  position: absolute;
  top: 1263px;
  left: 568px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.group-child5 {
  position: absolute;
  top: 0px;
  left: 26.09px;
  width: 99.82px;
  height: 51.22px;
  object-fit: cover;
}
.group-parent15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 152px;
  height: 93.22px;
  cursor: pointer;
}
.image-85-icon {
  position: absolute;
  top: 21.78px;
  left: 110.5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.group-parent14 {
  position: absolute;
  top: 1082.22px;
  left: 473.5px;
  width: 152px;
  height: 93.22px;
}
.heading-27 {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 0.18px;
  display: flex;
  align-items: center;
  width: 392px;
  height: 49px;
}
.heading-2-car-services-avail-wrapper {
  position: absolute;
  bottom: 981px;
  left: 0px;
  width: 816px;
  height: 49px;
}
.group-parent16 {
  position: absolute;
  bottom: 0px;
  left: 3px;
  width: 775px;
  height: 965px;
}
.frame-parent2 {
  position: absolute;
  bottom: 1154px;
  left: 24px;
  width: 816px;
  height: 1030px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
.mask-group-icon {
  position: absolute;
  top: 126px;
  left: 322px;
  width: 19px;
  height: 19px;
  object-fit: cover;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 393px;
  left: 28px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.09px;
  line-height: 30.84px;
  color: var(--color-white);
  display: inline-block;
  width: 776px;
  height: 123px;
}
.city-driver-pana-1 {
  position: absolute;
  top: 2802px;
  left: 46px;
  width: 264px;
  height: 264px;
  object-fit: cover;
}
.image-153-icon {
  position: absolute;
  top: 2854px;
  left: 404px;
  width: 165px;
  height: 165px;
  object-fit: cover;
}
.product-quality-pana-1 {
  position: absolute;
  top: 3114px;
  left: 92px;
  width: 171px;
  height: 171px;
  object-fit: cover;
}
.piyi3z-929-ai-1-icon {
  position: absolute;
  top: 3083px;
  left: 387px;
  width: 238px;
  height: 202px;
  object-fit: cover;
}
.homepage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5595px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);

}
