.div-3wrwr-icon1 {
  position: absolute;
  top: calc(50% - 8px);
  left: 0px;
  width: 30px;
  height: 16px;
  object-fit: cover;
}
.heading-54 {
  position: absolute;
  top: 14.36px;
  left: 30px;
  line-height: 13.36px;
  display: flex;
  align-items: center;
  width: 29.53px;
  height: 12px;
}
.span-3l0pg4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 376.8px;
  height: 42.09px;
}
.link-infogomechanicin1 {
  position: absolute;
  top: 12px;
  left: 376.8px;
  font-size: var(--font-size-smi);
  line-height: 16.1px;
  font-weight: 500;
}
.div-2tmps4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 753.59px;
  height: 42.09px;
}
.divpgewo-icon1 {
  position: absolute;
  top: calc(50% - 8px);
  left: 0px;
  width: 26px;
  height: 16px;
  object-fit: cover;
}
.heading-55 {
  position: absolute;
  top: 14.36px;
  left: 26px;
  line-height: 13.36px;
  display: flex;
  align-items: center;
  width: 79.79px;
  height: 12px;
}
.link-93888938881 {
  position: absolute;
  top: 12px;
  left: 376.8px;
  font-size: var(--font-size-2xs);
  line-height: 16.1px;
  font-weight: 500;
}
.div-2tmps5 {
  position: absolute;
  top: 42.09px;
  left: 0px;
  width: 753.59px;
  height: 42.09px;
}
.heading-56 {
  position: absolute;
  top: 14.35px;
  left: 26px;
  line-height: 13.36px;
  display: flex;
  align-items: center;
  width: 75.09px;
  height: 12px;
}
.div-2tmps6 {
  position: absolute;
  top: 84.19px;
  left: 0px;
  width: 753.59px;
  height: 42.09px;
}
.div-2x3cu-icon1 {
  position: absolute;
  top: calc(50% - 7.99px);
  left: 0px;
  width: 26px;
  height: 16px;
  object-fit: cover;
}
.heading-57 {
  position: absolute;
  top: 14.36px;
  left: 26px;
  line-height: 13.36px;
  display: flex;
  align-items: center;
  width: 79.22px;
  height: 12px;
}
.am-900pmist1 {
  position: absolute;
  top: 12px;
  left: 376.8px;
  font-size: var(--font-size-xs);
  line-height: 16.1px;
  font-weight: 500;
}
.div-2tmps7 {
  position: absolute;
  top: 126.28px;
  left: 0px;
  width: 753.59px;
  height: 42.09px;
}
.link-playstorepng1 {
  position: relative;
  width: 198px;
  height: 61.19px;
  object-fit: cover;
}
.link-playstorepng-group {
  position: absolute;
  top: 6px;
  left: 601px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.div-3foey1 {
  position: absolute;
  height: 15.79%;
  width: 40.16%;
  top: 78.1%;
  right: 26.88%;
  bottom: 6.11%;
  left: 32.97%;
  text-align: left;
  font-size: 10.62px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
