.component-child {
  position: absolute;
  top: 0px;
  left: calc(50% - 452px);
  background-color: var(--color-white);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  width: 904px;
  height: 68px;
}
.our-services {
  position: relative;
  font-weight: 600;
}
.frame-child {
  position: relative;
  width: 115.75px;
  height: 0.75px;
  object-fit: cover;
}
.our-services-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-darkslateblue);
}
.curated-custom-service {
  position: relative;
  font-weight: 500;
}
.frame-parent {
  position: absolute;
  top: 11px;
  left: calc(50% - 429px);
  width: 874px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.rectangle-parent {
  position: relative;
  width: 904px;
  height: 48px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
